@{
    @model PaginaProyecto.Models.Evento
    ViewBag.Title = "Evento1";
    Layout = "~/Views/Shared/_MiLayout.cshtml";
}
<div class="row container">
    <div class="col-md-12" style="text-align: center">
        <div class="jumbotron">
            <h3 style="text-align:center ">Cura del cancer</h3>
            <hr />
            <img src="http://www.somoscolombianos.com/wp-content/uploads/2015/05/cura-contra-el-cancer.jpg" alt="cancer" class="img-responsive col-md-6 col-sm-12" style="padding-left;" />
            <hr />
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p style="color:black"><b>
                Encontrar una cura para el cáncer es uno de los Santos Griales de la medicina. Sin embargo, una serie de avances recientes plantea la perspectiva de que finalmente estamos llegando a lidiar con la enfermedad que la mitad de nosotros desarrollará.
                Por ejemplo, las tasas de supervivencia de cáncer en el Reino Unido y otros países europeos se han duplicado en los últimos 40 años y ya la mitad de los pacientes de cáncer viven más de diez años.
                Pero según el profesor Karol Sikora, uno de los principales especialistas del país británico y decano de la Facultad de Medicina de la Universidad de Buckingham, en diez años esa cifra estará más cerca del 70 por ciento, lo que significa que para muchos el cáncer se convertirá en una enfermedad con la que vive, en lugar de morir.</b>
            </p>
            <button type="button" class="btn btn-warning col-lg-12">@Html.ActionLink("Donar", "Evento1", "Home"/*, new { sucursalID = unaSucursal.ID }, null*/)</button>
        </div>
    </div>
</div>