@model PaginaProyecto.Models.Evento
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_MiLayoutLogueado.cshtml";
}
<h3 class="col-md-12" style="text-align:center; margin-top:10%;">Futuro mis eventos</h3>
